<div class="card d-flex flex-column gap-s" aria-hidden="true">
    <div class="skeleton-bar skeleton-title"></div>
    <div class="skeleton-bar skeleton-text"></div>
    <div class="skeleton-bar skeleton-text skeleton-text--short"></div>
    <ul>
        <li>
            <div class="skeleton-bar skeleton-text skeleton-text--short"></div>
        </li>
        <li>
            <div class="skeleton-bar skeleton-text skeleton-text--short"></div>
        </li>
    </ul>
    <div class="skeleton-bar skeleton-button"></div>
</div>
