.side-content {
    gap: var(--margin-xl);
    // min-height: 100vh;

    &__aside {
        flex: 0 0 auto;
        width: 280px;
    }

    &__sticky {
        position: sticky;
        top: 50%;
        transform: translateY(-50%);
    }

    &__content {
        flex: 1 1 auto;
        min-width: 0;
    }
}
