.btn {
    padding: var(--margin-s);

    border-radius: var(--border-r-s);

    background-color: var(--background-secondary);
    color: var(--text-secondary);

    width: fit-content;

    &__dark {
        background-color: var(--background-tint);
        color: var(--text-tint);
    }
}
