//Text components
h1 {
    font-size: var(--font-xl);
}

h2 {
    font-size: var(--font-l);
}

h3 {
    font-size: var(--font-m);
}

h4 {
    font-size: var(--font-s);
}

p, b, a {
    font-size: var(--font-s);
}

h1, h2, h3, h4, p, b, a {
    margin: 0;
    font-weight: 400;
    color: var(--text-primary);

    &.tint {
        color: var(--text-secondary);
    }
}

a {
    text-decoration: none;
}