:root {
    //Background styles
    --background-primary: #F9F8F6;
    --background-secondary: #EFE9E3;
    --background-tint: #817260;

    //Texts
    --text-primary: #000000;
    --text-secondary: #817260;
    --text-tint: #FFFFFF;

    //Margin
    --margin-xs: 4px;
    --margin-s: 8px;
    --margin-m: 16px;
    --margin-l: 24px;
    --margin-xl: 32px;

    //Font Sizes
    --font-s: 16px;
    --font-m: 24px;
    --font-l: 32px;
    --font-xl: 52px;

    //Border radius
    --border-r-s: 4px;
    --border-r-l: 20px;
}
