<div class="card d-flex flex-column gap-s">
    <h3>
        {{ project.title }}
    </h3>
    @if (project.description) {
        <p class="tint">
            {{ project.description }}
        </p>
    }
    @if (project.bulletpoints) {
        <ul>
            @for (point of project.bulletpoints; track $index) {
                <li>
                    <p class="tint">
                        {{ point }}
                    </p>
                </li>
            }
        </ul>
    }
    @if (project.link) {
        <app-button [to]="project.link" [dark]="true">
            <img [src]="`/assets/icons/${ isButtonGitHub ? 'GH_white.svg' : 'Ext.svg'}`" alt="GitHub"/>
            {{
                isButtonGitHub ?
                "View on GitHub" :
                "Open project"
            }}
        </app-button>    
    }
</div>